body {
    background-color: white;
    font-size: 11pt;
    font-family: helvetica, arial, freesans;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3 {
    color: #4F4F4F;
}

div.main {
    background-color: #F4F4F4;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 20px;
    padding: 10px;
    width: 900px;
    border-radius: 10px;
    border: 1px solid #737373;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

div.container {
    margin: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #737373;
}

div.input-data {
    font-size: 12pt;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    background-color: #D4DDE6;
    border-radius: 5px;
    border: 1px solid #7096AB;
}

table {
    border: 1px solid;
    border-collapse: collapse;
    display: inline-table;
    margin-right: 10px;
}

table td {
    border: 1px solid;
    padding: 3px;
}

div.chart {
    width: 500px;
    height: 300px
}
